services:
    -
        class: PTGS\PHPStanRules\Rules\NamespaceGroupResolver
        arguments:
            groups: %ptgs.groups%

    -
        class: PTGS\PHPStanRules\Rules\Architecture\ForbiddenDependencyRule
        arguments:
            forbiddenDependencies: %ptgs.forbiddenDependencies%
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Doctrine\NoPublicCollectionReturnRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Doctrine\NoDirectFlushRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\NoGenericIdParameterRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\RouteRequiresMethodRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\RouteRequiresUuidRequirementRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\ActionMethodNamingRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\RouteNameMatchesMethodRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Architecture\ReadonlyServiceRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Architecture\RedundantReadonlyInReadonlyClassRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Architecture\NamedArgumentForBooleanRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Serialization\NoSnakeCaseJsonKeyRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Serialization\NoNullInJsonSerializeRule
        arguments:
            filterFunction: %ptgs.nullFilterFunction%
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\NoRequestGetContentInControllerRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Enum\StatusColumnMustBeEnumRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Doctrine\NoHardcodedValueInQueryRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\RoutePathCamelCaseRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\RouteIdParamMustBeStringRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\NoGetPayloadInControllerRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\NoMultipleRequestParamsInControllerRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Architecture\SaveParameterDefaultRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\NoEntityAsFormDataClassRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Symfony\NoClassLevelRouteRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Doctrine\EntityTablePrefixRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Doctrine\EntityDeferredExplicitRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Doctrine\RedundantColumnTypeRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

    -
        class: PTGS\PHPStanRules\Rules\Doctrine\RedundantJoinColumnRule
        arguments:
            ruleLevel: %ptgs.ruleLevel%

conditionalTags:
    PTGS\PHPStanRules\Rules\Architecture\ForbiddenDependencyRule:
        phpstan.rules.rule: %ptgs.forbiddenDependency%
    PTGS\PHPStanRules\Rules\Doctrine\NoPublicCollectionReturnRule:
        phpstan.rules.rule: %ptgs.noPublicCollectionReturn%
    PTGS\PHPStanRules\Rules\Doctrine\NoDirectFlushRule:
        phpstan.rules.rule: %ptgs.noDirectFlush%
    PTGS\PHPStanRules\Rules\Symfony\NoGenericIdParameterRule:
        phpstan.rules.rule: %ptgs.noGenericId%
    PTGS\PHPStanRules\Rules\Symfony\RouteRequiresMethodRule:
        phpstan.rules.rule: %ptgs.routeRequiresMethod%
    PTGS\PHPStanRules\Rules\Symfony\RouteRequiresUuidRequirementRule:
        phpstan.rules.rule: %ptgs.routeRequiresUuidRequirement%
    PTGS\PHPStanRules\Rules\Symfony\ActionMethodNamingRule:
        phpstan.rules.rule: %ptgs.actionMethodNaming%
    PTGS\PHPStanRules\Rules\Symfony\RouteNameMatchesMethodRule:
        phpstan.rules.rule: %ptgs.routeNameMatchesMethod%
    PTGS\PHPStanRules\Rules\Architecture\ReadonlyServiceRule:
        phpstan.rules.rule: %ptgs.readonlyService%
    PTGS\PHPStanRules\Rules\Architecture\RedundantReadonlyInReadonlyClassRule:
        phpstan.rules.rule: %ptgs.redundantReadonlyInReadonlyClass%
    PTGS\PHPStanRules\Rules\Architecture\NamedArgumentForBooleanRule:
        phpstan.rules.rule: %ptgs.namedArgumentForBoolean%
    PTGS\PHPStanRules\Rules\Serialization\NoSnakeCaseJsonKeyRule:
        phpstan.rules.rule: %ptgs.noSnakeCaseJsonKey%
    PTGS\PHPStanRules\Rules\Serialization\NoNullInJsonSerializeRule:
        phpstan.rules.rule: %ptgs.noNullInJsonSerialize%
    PTGS\PHPStanRules\Rules\Symfony\NoRequestGetContentInControllerRule:
        phpstan.rules.rule: %ptgs.noRequestGetContentInController%
    PTGS\PHPStanRules\Rules\Enum\StatusColumnMustBeEnumRule:
        phpstan.rules.rule: %ptgs.statusColumnMustBeEnum%
    PTGS\PHPStanRules\Rules\Doctrine\NoHardcodedValueInQueryRule:
        phpstan.rules.rule: %ptgs.noHardcodedValueInQuery%
    PTGS\PHPStanRules\Rules\Symfony\RoutePathCamelCaseRule:
        phpstan.rules.rule: %ptgs.routePathCamelCase%
    PTGS\PHPStanRules\Rules\Symfony\RouteIdParamMustBeStringRule:
        phpstan.rules.rule: %ptgs.routeIdParamMustBeString%
    PTGS\PHPStanRules\Rules\Symfony\NoGetPayloadInControllerRule:
        phpstan.rules.rule: %ptgs.noGetPayloadInController%
    PTGS\PHPStanRules\Rules\Symfony\NoMultipleRequestParamsInControllerRule:
        phpstan.rules.rule: %ptgs.noMultipleRequestParamsInController%
    PTGS\PHPStanRules\Rules\Architecture\SaveParameterDefaultRule:
        phpstan.rules.rule: %ptgs.saveParameterDefault%
    PTGS\PHPStanRules\Rules\Symfony\NoEntityAsFormDataClassRule:
        phpstan.rules.rule: %ptgs.noEntityAsFormDataClass%
    PTGS\PHPStanRules\Rules\Symfony\NoClassLevelRouteRule:
        phpstan.rules.rule: %ptgs.noClassLevelRoute%
    PTGS\PHPStanRules\Rules\Doctrine\EntityTablePrefixRule:
        phpstan.rules.rule: %ptgs.entityTablePrefix%
    PTGS\PHPStanRules\Rules\Doctrine\EntityDeferredExplicitRule:
        phpstan.rules.rule: %ptgs.entityDeferredExplicit%
    PTGS\PHPStanRules\Rules\Doctrine\RedundantColumnTypeRule:
        phpstan.rules.rule: %ptgs.redundantColumnType%
    PTGS\PHPStanRules\Rules\Doctrine\RedundantJoinColumnRule:
        phpstan.rules.rule: %ptgs.redundantJoinColumn%
