services:
    -
        class: RentBetter\PHPStanRules\Rules\NamespaceGroupResolver
        arguments:
            groups: %rentbetter.groups%

    -
        class: RentBetter\PHPStanRules\Rules\Architecture\ForbiddenDependencyRule
        arguments:
            forbiddenDependencies: %rentbetter.forbiddenDependencies%
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Doctrine\NoPublicCollectionReturnRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Doctrine\NoDirectFlushRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\NoGenericIdParameterRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\RouteRequiresMethodRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\RouteRequiresUuidRequirementRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\ActionMethodNamingRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\RouteNameMatchesMethodRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Architecture\ReadonlyServiceRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Architecture\NamedArgumentForBooleanRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Serialization\NoSnakeCaseJsonKeyRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Serialization\NoNullInJsonSerializeRule
        arguments:
            filterFunction: %rentbetter.nullFilterFunction%
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\NoRequestGetContentInControllerRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Enum\StatusColumnMustBeEnumRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Doctrine\NoHardcodedValueInQueryRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\RoutePathCamelCaseRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\RouteIdParamMustBeStringRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\NoGetPayloadInControllerRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\NoMultipleRequestParamsInControllerRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Architecture\SaveParameterDefaultRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\NoEntityAsFormDataClassRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Symfony\NoClassLevelRouteRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Doctrine\EntityTablePrefixRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Doctrine\EntityDeferredExplicitRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

    -
        class: RentBetter\PHPStanRules\Rules\Doctrine\RedundantColumnTypeRule
        arguments:
            ruleLevel: %rentbetter.ruleLevel%

conditionalTags:
    RentBetter\PHPStanRules\Rules\Architecture\ForbiddenDependencyRule:
        phpstan.rules.rule: %rentbetter.forbiddenDependency%
    RentBetter\PHPStanRules\Rules\Doctrine\NoPublicCollectionReturnRule:
        phpstan.rules.rule: %rentbetter.noPublicCollectionReturn%
    RentBetter\PHPStanRules\Rules\Doctrine\NoDirectFlushRule:
        phpstan.rules.rule: %rentbetter.noDirectFlush%
    RentBetter\PHPStanRules\Rules\Symfony\NoGenericIdParameterRule:
        phpstan.rules.rule: %rentbetter.noGenericId%
    RentBetter\PHPStanRules\Rules\Symfony\RouteRequiresMethodRule:
        phpstan.rules.rule: %rentbetter.routeRequiresMethod%
    RentBetter\PHPStanRules\Rules\Symfony\RouteRequiresUuidRequirementRule:
        phpstan.rules.rule: %rentbetter.routeRequiresUuidRequirement%
    RentBetter\PHPStanRules\Rules\Symfony\ActionMethodNamingRule:
        phpstan.rules.rule: %rentbetter.actionMethodNaming%
    RentBetter\PHPStanRules\Rules\Symfony\RouteNameMatchesMethodRule:
        phpstan.rules.rule: %rentbetter.routeNameMatchesMethod%
    RentBetter\PHPStanRules\Rules\Architecture\ReadonlyServiceRule:
        phpstan.rules.rule: %rentbetter.readonlyService%
    RentBetter\PHPStanRules\Rules\Architecture\NamedArgumentForBooleanRule:
        phpstan.rules.rule: %rentbetter.namedArgumentForBoolean%
    RentBetter\PHPStanRules\Rules\Serialization\NoSnakeCaseJsonKeyRule:
        phpstan.rules.rule: %rentbetter.noSnakeCaseJsonKey%
    RentBetter\PHPStanRules\Rules\Serialization\NoNullInJsonSerializeRule:
        phpstan.rules.rule: %rentbetter.noNullInJsonSerialize%
    RentBetter\PHPStanRules\Rules\Symfony\NoRequestGetContentInControllerRule:
        phpstan.rules.rule: %rentbetter.noRequestGetContentInController%
    RentBetter\PHPStanRules\Rules\Enum\StatusColumnMustBeEnumRule:
        phpstan.rules.rule: %rentbetter.statusColumnMustBeEnum%
    RentBetter\PHPStanRules\Rules\Doctrine\NoHardcodedValueInQueryRule:
        phpstan.rules.rule: %rentbetter.noHardcodedValueInQuery%
    RentBetter\PHPStanRules\Rules\Symfony\RoutePathCamelCaseRule:
        phpstan.rules.rule: %rentbetter.routePathCamelCase%
    RentBetter\PHPStanRules\Rules\Symfony\RouteIdParamMustBeStringRule:
        phpstan.rules.rule: %rentbetter.routeIdParamMustBeString%
    RentBetter\PHPStanRules\Rules\Symfony\NoGetPayloadInControllerRule:
        phpstan.rules.rule: %rentbetter.noGetPayloadInController%
    RentBetter\PHPStanRules\Rules\Symfony\NoMultipleRequestParamsInControllerRule:
        phpstan.rules.rule: %rentbetter.noMultipleRequestParamsInController%
    RentBetter\PHPStanRules\Rules\Architecture\SaveParameterDefaultRule:
        phpstan.rules.rule: %rentbetter.saveParameterDefault%
    RentBetter\PHPStanRules\Rules\Symfony\NoEntityAsFormDataClassRule:
        phpstan.rules.rule: %rentbetter.noEntityAsFormDataClass%
    RentBetter\PHPStanRules\Rules\Symfony\NoClassLevelRouteRule:
        phpstan.rules.rule: %rentbetter.noClassLevelRoute%
    RentBetter\PHPStanRules\Rules\Doctrine\EntityTablePrefixRule:
        phpstan.rules.rule: %rentbetter.entityTablePrefix%
    RentBetter\PHPStanRules\Rules\Doctrine\EntityDeferredExplicitRule:
        phpstan.rules.rule: %rentbetter.entityDeferredExplicit%
    RentBetter\PHPStanRules\Rules\Doctrine\RedundantColumnTypeRule:
        phpstan.rules.rule: %rentbetter.redundantColumnType%
